@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins';
    font-weight: 400;
    font-style: thin;
    box-sizing: border-box;
}

body{
    margin: 0;
}

/* Toggle-nav */
#toggle-nav{
    position: fixed;
    background-color: white;
    border-radius: 2px;
    border: solid 1px rgb(180, 180, 180);
    top: 0;
    right: 0;
    width: 50px;
    height: 25px;
    cursor: pointer;
    transition: all .3s ease;
    transform: translateY(-100%);
}

#toggle-nav.active{
    top: 100px;
    transform: translateY(0);
}

#toggle-nav.up{
    top: 0;
}

#toggle-nav.down{
    top: 83px;
}

#toggle-nav .overlay{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#toggle-nav .arrow{
    background-color: rgb(63, 63, 63);
    width: 10px;
    height: 2px;
    border-radius: 2px;
    top: 11px;
    position: absolute;
    transition: all .3s ease;
}

#toggle-nav .arrow.left{
    left: 15.5px;
}

#toggle-nav .arrow.right{
    right: 15.5px;
}

#toggle-nav .arrow.up.left{
    rotate: -30deg;
}

#toggle-nav .arrow.up.right{
    rotate: 30deg;
}

#toggle-nav .arrow.down.left{
    rotate: 30deg;
}

#toggle-nav .arrow.down.right{
    rotate: -30deg;
}

/** Hover */

#toggle-nav .overlay:hover .arrow.up.left{
    rotate: 30deg;
}

#toggle-nav .overlay:hover .arrow.up.right{
    rotate: -30deg;
}

#toggle-nav .overlay:hover .arrow.down.left{
    rotate: -30deg;
}

#toggle-nav .overlay:hover .arrow.down.right{
    rotate: 30deg;
}

/* Fleche */

#fleche{
    /* display: none; */
    position: fixed;
    right: 20px;
    bottom: 0;
    transform: translateY(100%);
    background-color: white;
    border: solid 1px #303033;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: all .3s ease;
    opacity: 0;
    z-index: 2;
}

#fleche.active{
    transform: none;
    bottom: 20px;
    opacity: 1;
}

#fleche span{
    font-size: 40px;
}

/* Entete */

header, #nav{
    padding: 20px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    background-color: white;
    width: 100%;
    z-index: 100;
}

#nav{
    transition: all .3s ease;
    position: fixed;
    top: -84px;
}

#nav.hide{
    top: -84;
}

#nav.show{
    top: 0;
}

header img, #nav img{
    width: 200px;
}

header nav, #nav nav{
    display: inline-block;
}

header nav a, #nav nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #303033;
}

header nav a:visited, #nav nav a:visited{
    color: initial;
}

header nav a:hover, #nav nav a:hover{
    color: #6bbfbd;
}

/* Bandeau */

#titre{
    background-image: url(../imgs/bandeau.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 150px 0;
}

#titre h1{
    margin: 0;
    font-size: 64px;
}

/* Section de présentation */

/** Présentation + photo */
#presentation #haut{
    display: flex;
    align-items: center;
    padding: 100px 300px;
}

#presentation #haut #contenu{
    width: 50%;
}

#presentation #haut #contenu h3{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

#presentation #haut #contenu p{
    margin: 0;
}

#presentation #haut #photo{
    width: 200px;
    text-align: center;
}

#presentation #haut #photo img{
    width: 100%;
    border-radius: 8px;
}

/** Citation + qualités */
#presentation #bas{
    display: flex;
}

#presentation #bas #citation{
    background-color: #6bbfbd;
    width: 50%;
    color: white;
    padding: 100px 30px;
    padding-left: 300px;
    display: flex;
    align-items: center;
}

#presentation #bas #citation h4{
    margin: 0;
    font-size: 30px;
}

#presentation #bas #qualites{
    background-color: #eeeeee;
    width: 50%;
    font-size: 22px;
}

/** Liste de qualité */
#presentation #bas #qualites ol{
    counter-reset: item;
    list-style: none;
    padding: 20px 0;
    padding-left: 80px;
}

#presentation #bas #qualites ol li{
    position: relative;
    margin: 30px 0;
    margin-left: 50px;
}

#presentation #bas #qualites ol li::before{
    content: "0" counter(item);
    counter-increment: item;
    position: absolute;
    left: -50px;
    color: #6bbfbd;
}

#presentation #bas #qualites ol li:nth-child(n+10)::before{
    content: counter(item);
}

/* Section des projets */

#projets{
    padding: 50px 0;
}

#projets h2{
    font-size: 28px;
    margin-top: 0;
    margin-left: 300px;
}

#projets div:not(.projet, .overlay){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 75%;
    margin: auto;
}

#projets .projet{
    width: calc(1366px * 0.25);
    height: calc(768px * 0.25);
    background-size: contain;
    margin: 10px;
    cursor: pointer;
}

#projets .projet *{
    text-decoration: none;
    color: white;
}

#projets #chomp{
    background-image: url(../imgs/Chomp.png);
}

#projets #dongeon_crawler{
    background-image: url(../imgs/Dungeon_Crawler.png);
}

#projets #ludine_games{
    background-image: url(../imgs/Ludine_Games.png);
}

#projets #haggerim{
    background-image: url(../imgs/Haggerim.png);
}

#projets #choplifter{
    background-image: url(../imgs/Choplifter.png);
}

#projets .projet .overlay{
    opacity: 0;
    transition: all .3s ease;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

#projets .projet:hover .overlay{
    opacity: 1;
    background-color: rgb(107, 191, 189, .8);
}

#projets .projet .overlay h6{
    margin: 0;
    font-size: 18px;
}

#projets .projet .overlay p{
    margin: 0;
    font-weight: 200;
}

/* Section des parcours */

#parcours{
    padding: 50px 300px;
}

#parcours h2{
    font-size: 28px;
    margin-top: 0;
}

#parcours .voie{
    display: flex;
    align-items: baseline;
    position: relative;
    margin: 30px 0;
}

#parcours .voie .date{
    color: #6bbfbd;
    font-weight: Bold;
    font-size: 20px;
    vertical-align: baseline;
    position: absolute;
}

#parcours .voie .description{
    margin-left: 150px;
}

#parcours .voie .description h5{
    font-weight: 500;
    margin: 0;
}

#parcours .voie .description small{
    color: #818897;
    margin: 0;
}

/* Section des interets */

#interets{
    background-color: #eeeeee;
    padding: 50px 300px;
    text-align: center;
}

#interets h2{
    font-size: 28px;
    margin-top: 0;
}

#interets #boxes{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
}

#interets #boxes .box{
    /* padding: 30px 50px; */
    width: 160px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #dcdee4;
    border-radius: 4px;
    background-color: white;
    color: #6bbfbd;
}

/* Pied de page */

footer{
    background-color: #303033;
    padding: 30px;
    text-align: center;
    position: relative;
}

footer img{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
}

footer a{
    text-decoration: underline;
    color: white;
    font-weight: 200;
    margin: 0 10px;
}

footer a:visited{
    color: white;
}

/* Media queries */

@media screen and (max-width: 1250px){
    #interets{
        padding-left: 150px;
        padding-right: 150px;
    }

    #interets p{
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media screen and (max-width: 1190px){
    #presentation #bas #citation{
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1100px){
    #presentation #haut{
        padding: 100px 200px;
    }

    #parcours{
        padding-left: 150px;
        padding-right: 150px;
    }

    #parcours h2{
        margin-left: 150px;
    }

    #interets p{
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 950px){
    #toggle-nav.up{
        top: 0;
    }
    
    #toggle-nav.down{
        top: 183px;
    }

    #nav{
        top: -184px;
    }
    
    #nav.hide{
        top: -184;
    }
    
    #nav.show{
        top: 0;
    }

    header, #nav{
        flex-direction: column;
        align-items: flex-start;
    }

    header nav, #nav nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #presentation #haut{
        padding: 100px 100px;
    }

    #interets{
        padding-left: 30px;
        padding-right: 30px;
    }

    #interets p{
        margin-left: 120px;
        margin-right: 120px;
    }
}

@media screen and (max-width: 800px){
    #parcours{
        text-align: center;
    }

    #parcours h2{
        margin: auto;
    }

    #parcours .voie{
        text-align: left;
    }
}

@media screen and (max-width: 770px){
    #projets{
        text-align: center;
    }

    #projets h2{
        margin: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 720px){
    #presentation #haut{
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: center; */
        align-items: center;
    }

    #presentation #haut #contenu{
        text-align: left;
        width: 75%;
    }

    #presentation #haut #contenu h3{
        display: inline-block;
        width: 85px;
    }
}

@media screen and (max-width: 700px){
    #presentation #bas #qualites{
        padding: 0;
        padding-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #presentation #bas #qualites ol{
        padding: 0;
    }

    #parcours{
        padding-left: 30px;
        padding-right: 30px;
    }

    #interets p{
        margin-left: 0;
        margin-right: 0;
    }

    #interets #boxes{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 650px){
    footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 105px;
    }

    footer img{
        transform: none;
        top: initial;
        bottom: 30px;
        left: 30px;
    }
}

@media screen and (max-width: 600px){
    #presentation #haut{
        padding: 100px 30px;
    }
}

@media screen and (max-width: 500px){
    #projets .projet{
        width: calc(calc(1366px * 0.25) * 0.75);
        height: calc(calc(768px * 0.25) * 0.75);
    }
}

@media screen and (max-width: 460px){
    #presentation #bas{
        flex-direction: column;
    }

    #presentation #bas #citation, #presentation #bas #qualites{
        width: 100%;
    }

    #presentation #bas #citation h4{
        text-align: center;
    }

    #parcours .voie{
        flex-direction: column;
    }

    #parcours .voie .date{
        position: relative;
    }

    #parcours .voie .description{
        margin: auto;
    }
}

@media screen and (max-width: 390px){
    #titre h1{
        font-size: 48px;
    }

    #presentation #haut #contenu{
        text-align: center;
    }

    #presentation #haut #contenu h3{
        display: block;
        width: 100%;
    }

    #projets .projet{
        width: calc(calc(calc(1366px * 0.25) * 0.75) * 0.75);
        height: calc(calc(calc(768px * 0.25) * 0.75) * 0.75);
    }

    #projets .projet .overlay h6{
        font-size: 14px;
    }

    #projets .projet .overlay p{
        font-size: 12px;
    }
}